/* ================================================
COLORES
====================================================*/

BLACK = #0F0E0F
MAROON = #896F65
GREY = #BDBEC0
BLUE = #546D71

/* BACKGROUND */
BCK = MAROON
BCK-ALT = GREY

/* FONT COLOR */
TEXTCOLOR-HEADING= BLACK
TEXTCOLOR = GREY
TEXTCOLOR-ALT = BLACK

/* LINK COLOR */
LINKCOLOR = BLUE
LINKCOLOR-HOVER = BLACK


/* ================================================
FONT
====================================================*/

@import url'http://fonts.googleapis.com/css?family=PT+Serif|Cabin'

/* FONT FAMILY */
FONTFAMILY-HEADING = 'Cabin', sans-serif
FONTFAMILY = 'PT Serif', serif;


FONTSIZE = 14px
/* 
FONTFAMILY-ALT = Arial
*/